<div class="box">
	<%= link_to (image_tag fail.image), fail %>
     <p class="description">
      	<%= fail.description %>
 	 </p>
 	 <br />
 	 <p>
 	 	<strong>
 	 		Posted by <%= fail.user.name %>
 	 	</strong>
	 </p>
</div>