<div class="box">

		<center><img src="https://s3.amazonaws.com/failboard/tack.png" id="tack" /></center>

	<center><strong><p style="font-size: 16px;"><u><%= fail.fail_title %></u></p></strong></center>
	<center><%= link_to (image_tag fail.image), fail %></center>
     <p class="description">
      	<%= fail.description %>
 	 </p>
 	 <br />
 	 <p>
 	 	<strong>
 	 		Posted by <%= fail.user.name %>
 	 	</strong>
	 </p>
</div>