<%= render 'pages/home' %>

<% if !user_signed_in? %>
<center><%= image_tag("https://s3.amazonaws.com/failboard/failboard.png") %></center>
<% end %>

<div id="fails" class="fails">
  <%= render @fails %>
</div>

<%= nether(@fails.total_pages, fails_path, "#fails") %>

<div class="clear"></div>