<div class="formfail">
  <center>
    <% if params[:action] == "new" %>
         <h1>New #Fail</h1><br />
    <% else %>
         <h1>Edit #Fail</h1><br />
    <% end %>
    
      <%= simple_form_for(@video) do |f| %>

            <%= f.error_notification %>


            <%= f.input :attachment, label: "Upload a #Fail" %><br />


            <div class="form-actions">
              <%= f.button :submit, class: "btn btn-primary" %>
            </div>

      <% end %>
  </center>
</div>