<% if user_signed_in? %>
<center><%= image_tag("https://s3.amazonaws.com/failboard/failboard.png") %></center>
<br /><br /><br />
<% else %>
<div class="hero-unit">
<center><h1>Welcome to #Failboard</h1>
<p><em>The Place</em> to find and share all the <strong>Funny #Fails</strong> you find from around the internets all in one place!</p>
</center>
<br />

<center><%= render '/devise/shared/signup' %></center>
</div>
<% end %>
