<% if user_signed_in? %>
<center><h1>Check out the #Fails on your #Failboard</h1></center><br /><br />
<% else %>
<div class="hero-unit">
<h1>Welcome to #Failboard</h1>
<p>You're at the homepage for #Failboard. Learn More:<br />
<%= link_to "About", '/about' %>
</p>
<p><%= link_to 'Sign Up Now!', new_user_registration_path, :class => 'btn btn-primary' %></p>
</div>
<% end %>
