<div class="well">
<h1>About #Failboard</h1>
<p>
This is <strong>the funniest place on the entire internet!<em>#Failboard</em></strong> is the place to see and share all the funniest fail pictures from around the web.
</p>
<center><%= link_to 'Go back to the #Failboard', fails_path, class: "btn btn-large btn-success" %></center>
</div>
