@import 'bootstrap';

body { 
	padding-top: 60px;
  background-image: url(https://s3.amazonaws.com/failboard/corkboard.png);
}

.formfail {
  background-color:white;
  padding-top: 20px;
  text-align: -webkit-center;
}

.fb-comments {
  background-color:white;

}



@import 'bootstrap-responsive	';

.footer {
 
 	color: $grayLight;
 	a { 
 		color:$gray;
 	}
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:500px;
  color:#000;
	
}

.hero-unit {
  padding-bottom: 0px;
}

.description {
	margin: 10px 0 5px;
}


/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
  background-color:#FCF0AD;
}

.box img {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;


}

.box img#tack {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }

.boxtwo {
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  box-shadow: 1px 1px 10px #444;
  width: 700px;
  background-color:#FCF0AD;
}

.boxthree {
  margin: 25px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: center;
  box-shadow: 1px 1px 10px #444;
  width: 700px;
  background-color:#FCF0AD;
}

.boxfour {
  margin: 25px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: center;
  box-shadow: 1px 1px 10px #444;
  width: 700px;
  background-color:#FCF0AD;
  min-height: 40px;
  padding-top: 20px;
  font-size: 36px;
}


.boxtwo img {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


}

.boxtwo img#tack {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* dropzone for jquery-fileupload drag&drop */

#dropzone {
    background: palegreen;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border-style: dotted;
    border-width:5px;
}
#dropzone.in {
    width: 100%;
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: lawngreen;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


.modal {
    color: #333;
}

#user_remember_me{
float: center;
margin-left: -20px;
}

.arrow_box {
  position: relative;
  background: #fff;
  border: 4px solid #fff;
  width: 40px;
  text-align: center;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(81, 163, 81, 0);
  border-top-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.arrow_box:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
}

.spanq {
float: center;
min-height: 1px;
margin-left: 90px;
}

.userbox{
    background-color:white;
    padding-top: 20px;
    text-align: -webkit-center;
    width: 150px;

}

/* Tag Cloud */

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}